<title>Login</title>

<link rel="stylesheet" type="text/css" href="/css/userLogin-styles.css">

<body>
    <div class="container">
            <div class="title">
                <h1 >Welcome!</h1>
            </div>

            <div class="box">
                <div class="userLogin">
                    <input type="text" placeholder="Type your name" id="input-username" class="inputUsername">
                    <button type="submit" id="submit-button" class="submitButton"> Entrar </button>
                </div>
            </div>
    </div>

    <div id="creator">
        <p class="creatorContent"> Project created by Thiago Gonçalves</p>
    </div>
</body>

<script type="module" src="/js/userLogin-script.js" defer></script>
<script src="/socket.io/socket.io.js"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
</style>